*.so

# CSM Specific Files

UsgsAstroLineScannerPlugin*
UsgsAstroLineScannerPluginCSM*
UsgsAstroLineScannerSensorModel*
PinholePluginCSM_2A*
PinholePluginCSM2A*
PinholeSensorModelCSM2A*
PinholePluginCSM302*
PinholeSensorModelCSM302*
1_001*
CSM_PCAPI*
CSMAPI*
TSMAPI*
TSMCovarianceModel.h
TSMError.h
TSMISDByteStream.h
TSMISDFilename.h
TSMISDNITF20.h
TSMISDNITF21.h
TSMImageSupportData.h
TSMMisc.h
TSMPlugin.h
TSMSensorModel.h
TSMWarning.h
BytestreamIsd.h
CorrelationModel.h
Error.h
FourParameterCorrelationModel.h
GeometricModel.h
Isd.h
LinearDecayCorrelationModel.h
Model.h
NitfIsd.h
Plugin.h
PointCloudGM.h
PointCloudIsd.h
RasterGM.h
Version.h
Warning.h
csm.h
csmPointCloud.h
